{% extends "base.twig" %}

{% block hero %}
  {% set _archive_page = function("get_archive_page", "industry/bio-to-b-drama/contents/publishers") %}
  {% if _archive_page and not function("get_field", "hide_hero", _archive_page.ID) %}
    {% set _hero_title = function("get_field", "hero_alt_title", _archive_page.ID) %}
    {% set _hero_style = function("get_field", "hero_title_style", _archive_page.ID) %}
    {{
      include(
        "components/hero/hero.twig",
        {
          hero_title: _hero_title ?: _archive_page.post_title,
          hero_title_style: _hero_style ?: "primary"
        }
      )
    }}
  {% endif %}
{% endblock hero %}

{% block content %}
  <div class="facetwp-template">
    <div data-compact-cards class="border-stroke 3xl:grid-cols-4 grid grid-cols-1 border-t md:grid-cols-2 xl:grid-cols-3">
      {% for item in posts %}
        {{ include("parts/cards/publishers-card.twig") }}
      {% endfor %}

      {# 2-col fillers #}
      {% set count = posts|length %}
      {% if count % 2 == 1 %}
        <div data-film-filler class="border-stroke col-span-1 border-l xl:hidden"></div>
      {% endif %}

      {# 3-col fillers #}
      {% if count % 3 == 1 %}
        <div data-film-filler class="border-stroke 3xl:hidden col-span-1 hidden border-l xl:block"></div>
        <div data-film-filler class="3xl:hidden col-span-1 hidden xl:block"></div>
      {% elseif count % 3 == 2 %}
        <div data-film-filler class="border-stroke 3xl:hidden col-span-1 hidden border-l xl:block"></div>
      {% endif %}

      {# 4-col fillers #}
      {% if count % 4 == 1 %}
        <div data-film-filler class="border-stroke 3xl:block col-span-1 hidden border-l"></div>
        <div data-film-filler class="3xl:block col-span-1 hidden"></div>
        <div data-film-filler class="3xl:block col-span-1 hidden"></div>
      {% elseif count % 4 == 2 %}
        <div data-film-filler class="border-stroke 3xl:block col-span-1 hidden border-l"></div>
        <div data-film-filler class="3xl:block col-span-1 hidden"></div>
      {% elseif count % 4 == 3 %}
        <div data-film-filler class="border-stroke 3xl:block col-span-1 hidden border-l"></div>
      {% endif %}
    </div>
  </div>
  {{ function("do_shortcode", '[facetwp facet="load_more"]') }}

  {% set _archive_page = function("get_archive_page", "industry/bio-to-b-drama/contents/publishers") %}
  {% set components = _archive_page ? function("get_field", "archive_components", _archive_page.ID) : null %}
  {% for component in components %}
    {% set layout = component.acf_fc_layout|replace({ "_": "-" }) %}
    {{
      include(
        "components/" ~ layout ~ "/" ~ layout ~ ".twig",
        { component: component }
      )
    }}
  {% endfor %}
{% endblock content %}
