<div class="skeleton-film-card">
  <div class="skeleton-overlay"></div>
  <div class="skeleton-image" style="aspect-ratio:16/9;width:100%;"></div>
  <div class="skeleton-body">
    <p class="skeleton-text text-sm font-semibold uppercase">Tipologia</p>
    <h5 class="skeleton-text text-2xl font-semibold line-clamp-2">Lorem ipsum dolor sit amet</h5>
    <p class="skeleton-text text-base line-clamp-3">Adipiscing elit sed do eiusmod tempor incididunt ut labore</p>
  </div>
</div>
