<div class="skeleton-program-card">
  <div class="skeleton-overlay"></div>
  <div class="skeleton-image"></div>
  <div class="skeleton-body">
    <h5 class="skeleton-text text-2xl font-semibold">Lorem ipsum dolor sit amet</h5>
    <p class="skeleton-text text-sm font-semibold uppercase">Tipo di evento</p>
    <p class="skeleton-text text-base">Consectetur adipiscing elit sed do eiusmod tempor</p>
    <p class="skeleton-text text-base font-semibold">12 Gennaio 2026 · Lorem</p>
  </div>
</div>
