<div class="skeleton-film-card">
  <div class="skeleton-overlay"></div>
  <div class="skeleton-body" style="padding:2.5rem 1.5rem;gap:2rem;">
    <div class="skeleton-line" style="width:45%;height:4rem;"></div>
    <div style="display:flex;flex-direction:column;flex:1;gap:0.5rem;">
      <h5 class="skeleton-text text-2xl font-semibold">Lorem ipsum dolor</h5>
      <p class="skeleton-text text-base">Consectetur adipiscing elit sed do eiusmod tempor incididunt ut labore et dolore magna</p>
    </div>
  </div>
</div>
