<div class="skeleton-card">
  <div class="skeleton-overlay"></div>
  <div class="skeleton-image"></div>
  <div class="skeleton-body">
    <p class="skeleton-text text-sm font-semibold uppercase">
      Lorem ipsum dolor sit amet consectetur
    </p>
    <h5
      class="skeleton-text text-tight text-red text-sm font-semibold uppercase"
    >
      Lorem ipsum dolor
    </h5>
    <p class="skeleton-text text-base">
      Adipiscing elit sed do eiusmod tempor incididunt ut labore et dolore magna
      aliqua
    </p>
  </div>
</div>
